@import "./_function.scss";

$primary-color : #1C1C1C;
$secondary-color : #01FFFD;
$highlight-color: #232323;
$highlight-text-color: #8A8A8A;
$text-color: #FFFFFF;


$columns: 12;
$padding-length: 20;
$font-size-small: calculateRem(14px);
$font-size: calculateRem(16px);
$padding: calculateRem(10px);
$margin: calculateRem(10px);
