// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16px;
  //Default font size on html element is 100%, equivalent to 16px;
    @return #{$remSize}rem;
}
@function calculateRemDynamic($size) {
    $remSize: $size / 16;
  //Default font size on html element is 100%, equivalent to 16px;
    @return #{$remSize}rem;
}

@function frepeat($prop, $count) {
  $results : "";
  @for $_ from 1 through $count {
      $results: #{$results $prop};
  }
  @return $results;
}

