@import "../../config";
.album-details-section {
  .album-img {
    position: absolute;
    z-index: 1;
    width: 120px;
    height: 120px;
  }
  .hide-section {
    position: absolute;
    height: 95px;
    background: $primary-color;
    top: 0;
    left: 0;
    right: 0;
  }
  .field-section {
    width: 120px;
    position: relative;
    padding: $padding;
    background: $highlight-color;
  }
}
